{{- $sigma := partial "modal/communities/bodies/sigma-squared.html" . -}}
{{- partial "modal/project-band.html" (dict "content" $sigma) -}}
{{- $ft := partial "modal/communities/bodies/french-tech-athens.html" . -}}
{{- partial "modal/project-band.html" (dict "content" $ft) -}}
{{- $su := partial "modal/communities/bodies/startup-universe.html" . -}}
{{- partial "modal/project-band.html" (dict "content" $su) -}}
{{- $gt := partial "modal/communities/bodies/greektech.html" . -}}
{{- partial "modal/project-band.html" (dict "content" $gt) -}}