<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{- $pageDesc := .Description | default .Site.Params.description -}}
    {{- $seoTitle := cond .IsHome .Site.Title (printf "%s | Dimitris Dimosiaris" .Title) -}}
    {{- $ogImage := .Params.og_image | default .Site.Params.og_image | default "open_graph_dimosiaris_image.png" -}}
    {{- $ogImageAbs := $ogImage | absURL -}}
    {{- $ogW := .Params.og_image_width | default .Site.Params.og_image_width -}}
    {{- $ogH := .Params.og_image_height | default .Site.Params.og_image_height -}}
    {{- $ogAlt := .Params.og_image_alt | default .Site.Params.og_image_alt | default $seoTitle -}}
    {{- $ogSquare := .Params.og_image_square | default .Site.Params.og_image_square | default "open_graph_dimosiaris_square_image.png" -}}
    {{- $ogSquareAbs := $ogSquare | absURL -}}
    {{- $ogSquareW := .Params.og_image_square_width | default .Site.Params.og_image_square_width -}}
    {{- $ogSquareH := .Params.og_image_square_height | default .Site.Params.og_image_square_height -}}
    <meta name="description" content="{{ $pageDesc }}">
    <meta name="author" content="{{ .Site.Params.author | default `Dimitris Dimosiaris` }}">
    <link rel="canonical" href="{{ .Permalink }}">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ $seoTitle }}">
    <meta property="og:site_name" content="{{ .Site.Title }}">
    <meta property="og:description" content="{{ $pageDesc }}">
    <meta property="og:image" content="{{ $ogImageAbs }}">
    {{- with $ogW }}<meta property="og:image:width" content="{{ . }}">{{ end -}}
    {{- with $ogH }}<meta property="og:image:height" content="{{ . }}">{{ end -}}
    <meta property="og:image:alt" content="{{ $ogAlt }}">
    <meta property="og:image" content="{{ $ogSquareAbs }}">
    {{- with $ogSquareW }}<meta property="og:image:width" content="{{ . }}">{{ end -}}
    {{- with $ogSquareH }}<meta property="og:image:height" content="{{ . }}">{{ end -}}
    <meta property="og:image:alt" content="{{ $ogAlt }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{{ $ogImageAbs }}">
    <meta name="twitter:image:alt" content="{{ $ogAlt }}">
    <meta name="twitter:title" content="{{ $seoTitle }}">
    <meta name="twitter:description" content="{{ $pageDesc }}">
    <title>{{ $seoTitle }}</title>
    <link rel="icon" href="{{ "favicon_white.svg" | relURL }}" type="image/svg+xml" sizes="any" media="(prefers-color-scheme: dark)">
    <link rel="icon" href="{{ "dimosiaris_favicon.svg" | relURL }}" type="image/svg+xml" sizes="any" media="(prefers-color-scheme: light)">
    <link rel="icon" href="{{ "dimosiaris_favicon.svg" | relURL }}" type="image/svg+xml" sizes="any">
    <link rel="icon" href="{{ "favicon.png" | relURL }}" sizes="32x32">
    <link rel="icon" href="{{ "favicon_16.png" | relURL }}" sizes="16x16">
    <link rel="stylesheet" href="{{ "fonts/fontfamily/instrument-figtree.css" | relURL }}">
    <link rel="stylesheet" href="{{ "fonts/bootstrapicons/bootstrap-icons.min.css" | relURL }}">
    {{- $cssFiles := slice "css/bootstrap.min.css" "css/base.css" "css/components.css" "css/layout.css" "css/modal.css" }}
    {{- $processedCSS := slice }}
    {{- range $cssFiles }}
        {{- with resources.Get . }}
            {{- $processedCSS = $processedCSS | append . }}
        {{- end }}
    {{- end }}
    {{- with $processedCSS }}
        {{- $bundle := . | resources.Concat "css/bundle.css" | minify | fingerprint }}
        <link rel="stylesheet" href="{{ $bundle.RelPermalink }}" integrity="{{ $bundle.Data.Integrity }}" crossorigin="anonymous" media="screen">
    {{- end }}
    {{ partial "seo-person-jsonld.html" . }}
    {{ partial "web-analytics.html" . }}
</head>