{{- $active := .Params.active | default "" -}}
	{{- if not $active -}}
		{{- if .IsHome -}}
			{{- $active = "home" -}}
		{{- else if eq .Section "about" -}}
			{{- $active = "about" -}}
		{{- else if eq .Section "builder" -}}
			{{- $active = "builder" -}}
		{{- else if eq .Section "communities" -}}
			{{- $active = "communities" -}}
		{{- else if eq .Type "about" -}}
			{{- $active = "about" -}}
		{{- else if eq .Type "builder" -}}
			{{- $active = "builder" -}}
		{{- else if eq .Type "communities" -}}
			{{- $active = "communities" -}}
		{{- else -}}
			{{- $bn := .File.ContentBaseName -}}
			{{- if eq $bn "about" -}}{{- $active = "about" -}}
			{{- else if eq $bn "builder" -}}{{- $active = "builder" -}}
			{{- else if eq $bn "communities" -}}{{- $active = "communities" -}}
			{{- end -}}
		{{- end -}}
{{- end -}}
<header>
	<nav class="navbar navbar-expand-lg">
		<div class="container">
			<a class="navbar-brand me-5" href="{{ site.Home.RelPermalink }}">
				<img src="{{ "dimosiaris_logo.svg" | relURL }}" alt="Dimitris Dimosiaris" width="auto" height="20px">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMobile" aria-controls="navbarMobile" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse mt-3 mt-lg-0 me-lg-auto" id="navbarMobile">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0 ps-0">
					<li class="nav-item">
						<a class="nav-link px-3{{ if eq $active "home" }} active{{ end }}"{{ if eq $active "home" }} aria-current="page"{{ end }} href="{{ site.Home.RelPermalink }}">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link px-3{{ if eq $active "builder" }} active{{ end }}"{{ if eq $active "builder" }} aria-current="page"{{ end }} href="{{ ref . `builder.md` }}">Web projects</a>
					</li>
					<li class="nav-item">
						<a class="nav-link px-3{{ if eq $active "communities" }} active{{ end }}"{{ if eq $active "communities" }} aria-current="page"{{ end }} href="{{ ref . `communities.md` }}">Communities</a>
					</li>
					<li class="nav-item">
						<a class="nav-link px-3{{ if eq $active "about" }} active{{ end }}"{{ if eq $active "about" }} aria-current="page"{{ end }} href="{{ ref . `about.md` }}">About</a>
					</li>
				</ul>
				<div class="pb-3 pb-lg-0 mt-5 mt-lg-0 mx-3 mx-lg-0">
					<a class="btn btn-primary w-100 w-lg-auto" href="https://cal.com/dimitris-dimosiaris/30min" target="_blank"><i class="bi bi-calendar4-event me-2"></i>Book a call</a>
				</div>
			</div>
		</div>
	</nav>
</header>